html, body {
    height: 100%;
}

body {
    font-family: "JetBrains Mono";
}

/* Code for Firefox */
::-moz-selection {
    color: #fff;
    background: #222;
}
  
::selection {
    color: #fff;
    background: #222;
}

.pf-group {
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.pf-pic {
    width: 50%;
    max-width: 10rem;
    margin-bottom: 1rem;
    filter: invert(1);
    mix-blend-mode: difference;
}

.pf-text {
    font-size: 1.5rem;
}

.link {
    line-height: 3.3rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    color: #222;
    transition: all 0.25s;
    text-decoration: none;
}

@font-face {
    font-family: "iconfont";
    src: url("https://cdn.yusux.xyz/websrc/index/font/iconfont.ttf") format("truetype");
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 1.5rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.togglediv {
    position: absolute;
    color: #fff;
    bottom: 0.7rem;
    right: 1rem;
}

.darktoggle {
    font-size: 2.5rem;
    color: #222;
    transition: all 0.25s;
    text-decoration: none;
}